{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent() }}
	- Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<main class="container-fluid"></main>
{% endblock %}