{% extends 'base.html.twig' %}

{% block title %}New Smartphone{% endblock %}

{% block body %}
<h1>Create new Smartphone</h1>

{{ include('admin_smartphone/_form.html.twig') }}

<a href="{{ path('app_admin_smartphone_index') }}">retour</a>
{% endblock %}