{% extends 'visitor.html.twig' %}

{% block title %}
	{{ parent()}}
	- Connexion
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<div class="row mt-4">
			<div class="d-flex justify-content-center align-items-center">
				<div class="col-8">
					<div class="bg-light rounded-3 p-3 m-auto">

						<div>
							<h1 class="fw-bold text-tertiary d-flex justify-content-center align-items-center gap-3">
								{% include 'components/svg/icon_loupe.svg' %}
								Identifier votre Smartphone</h1>
						</div>

						<div class="">

							<form action="{{ path('smartphone_identify') }}" method="post" class="d-flex flex-column gap-1 mt-5">

								<div class="mb-3 text-start">
									<label for="username" class="form-label fw-bold custom-text-size text-tertiary">Email</label>
									<input type="text" class="form-control border-0 bg-light" id="username" name="_username" value="">
								</div>

								<div class="d-flex flex-column justify-content-center align-items-center m-auto">
									<button type="submit" class="btn my-5 text-light bg-secondary rounded-pill fw-bold custom-text-size px-3">RECHERCHER</button>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}