$primary: #00ACB0;
$primary-light: #40D2D6;
$secondary: #FFAB39;
$secondary-light: #695e5e;
$dark-light: #0e0d12;
$dark: #131313;
$light: #F2F2F2;
$tertiary: #25244E;

$navbarTastingSheetBg: #1a1813;
$footer-height: 90px;
$navbar-height: 83px;

$font-base: "Roboto", sans-serif;
$font-title: "Fontspring-TheSeasons", sans-serif;
$font-family-base: $font-base;