$primary: #d7ba31;
$primary-light: #ebd08a;
$secondary: #474035;
$secondary-light: #695e5e;
$dark: #08080b;
$dark-light: #0e0d12;
$light: #fbfbfb;
$tertiary: #474035;

$navbarTastingSheetBg: #1a1813;
$footer-height: 90px;
$navbar-height: 65px;

$font-base: "Roboto", sans-serif;
$font-title: "Fontspring-TheSeasons", sans-serif;
$font-family-base: $font-base;
