//start coding by removing this file and adding yours
@import "_theme.scss";

body {
  background-color: $primary;
  padding-block-start: $navbar-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-base;
  color: $dark;
}

html {
  height: 100%;
}

.custom-text-size {
  font-size: 1.25rem;
}

.custom-letter-spacing {
  letter-spacing: 3px;
}
